{% extends 'base.html' %}
{% block content %}
<main class="form-signin w-50 m-auto">

    <!--{% for category, message in  get_flashed_messages(with_categories=true) %}
	<spam class="{{ category }}">{{ message }}</spam>
    {% endfor %}-->
    {% if error != '' %}
        <p>{{error}}</p>
    {% endif %}

    <form action="" method="post">
        {{form.hidden_tag()}}
        <h1 class="h3 mb-3 fw-normal text-center m-4">Авторизация</h1>

        <div class="form-floating m-3">
            <!--<input type="text" class="form-control" id="floatingInput" name="login" placeholder="Логин">-->
            {{form.login}}
            <label for="floatingInput">{{form.login.label}}</label>
        </div>
        <div class="form-floating m-3">
            <!--<input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Пароль">-->
            {{form.password}}
            <label for="floatingPassword">{{form.password.label}}</label>
        </div>
        <div class="form-check">
            {{form.remember}}
            <label class="form-check-label" for="flexCheckDefault">
                {{form.remember.label}}
            </label>
        </div>

        <!--<button class="btn btn-primary w-100 py-2" type="submit">Войти</button>-->
        {{form.submit}}
    </form>
</main>

{% endblock %}